:root{
	--corA: #73020C; 
	--corB: #D94A56; 
	--corC: #BF0426; 
	--corD: #F2EBDC; 
	--corE: #0D0D0D;
}
*{
	margin: 0px;
	padding: 0px;
	transition: 0.3s;
  }
  /*web-kit*/
	input[type=file]{
	  display: none;
	}
	::-webkit-scrollbar{
		width: 0vw;
	}

	::-webkit-inner-spin-button{
		-webkit-appearance: none;
	}

	.ocultar{
	  display: none;
	}

	button:focus, button:focus-visible, input:focus-visible, input:focus, select:focus-visible, select:focus, textarea:focus-visible, textarea:focus{
	  outline: none;
	}
	input[type=checkbox]{
		display: none;
	}
body{
	background-color: var(--corE);
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}
    .operetion{
        color: var(--corA);
    }
        .rigth{
            color: var(--corA);
        }
            .site{
                color: var(--corA);
            }
        .left{
            color: var(--corA);
        }
            .debug{
                color: var(--corA);
            }